@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 250, 239);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "MyLocalFont";
  src: url("/fonts/my-local-font.woff2") format("woff2"),
    url("/fonts/my-local-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MyLocalFont", "Romanesco", "Sail", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content] minmax(0, 1200px)
    1fr [full-end];

  > * {
    grid-column: content;
  }
}
