@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 250, 239);
  --card: #e8e2c5;
  --accent: #6170fd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(255, 250, 239);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MyLocalFont", "Romanesco", "Sail", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content] minmax(0, 1200px)
    1fr [full-end];

  > * {
    grid-column: content;
  }
}
